<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoMono-VariableFont_wght.ttf</string>
	</array>
	<key>NSAppleEventsDefaultHandlingEnabled</key>
	<true/>
	<key>NSRequiredAppleEvents</key>
	<array>
		<string>OSAScriptingAccessControlEvent</string>
		<string>ApplicationDefinedEvent</string>
	</array>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>Qoma needs automation permissions to read your active browser tab when tracking website activity during focus sessions.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Qoma monitors application activity during your focus sessions.</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/dzenn-app/pomodoro/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gVDoWQzdh4+9rmj9AsGWxmm1gk58fHaKyXg+N5Uu+kg=</string>
</dict>
</plist>
